.job__header {
  display: flex;
}

.job__logo {
  margin-right: 30px;
}

.job__jobtile {
  flex-grow: 1;
}

.job__infocontainer {
  display: flex;
}

.job__subheader {
  font-size: 20px;
  min-width: 130px;
}

.job__info > p {
  margin-top: 0;
}
