.jobtile__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.jobtile__leftcontent {
}

.jobtile__companyname {
  color: #000000;
  font-size: 40px;
}
.jobtile--big .jobtile__companyname {
  font-size: 50px;
}

.jobtile__jobtitle {
  color: grey;
  font-size: 20px;
  font-weight: normal;
  margin: 8px 0;
}
.jobtile--big .jobtile__jobtitle {
  font-size: 24px;
}

.jobtile__interactions {
  color: grey;
  font-size: 14px;
}
.jobtile--big .jobtile__interactions {
  font-size: 16px;
}

.jobtile__discussion {
  margin-right: 10px;
}

.jobtile__rightcontent {
  margin-top: 15px;
  text-align: right;
}

.jobtile__status {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.jobtile__status--1 {
  color: limegreen;
}
.jobtile__status--2 {
  color: darkorange;
}
.jobtile__status--3 {
  color: red;
}
.jobtile--big .jobtile__status {
  font-size: 20px;
  margin-bottom: 10px;
}

.jobtile__pay {
  color: grey;
  font-size: 16px;
  font-weight: bold;
}
.jobtile--big .jobtile__pay {
  font-size: 20px;
}
