.landingpage__nav-container {
  display: flex;
  position: relative;
  padding: 0 100px;
  background-color: #007FF5;
  height: 150px;
  align-items: center;
}

.landingpage__logo {
}

.landingpage__nav-link-container {
  display: flex;
  margin: 0 100px;
}

.landingpage__nav-link {
  width: 85px;
  display: block;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 14px;
  margin-right: 15px;
}

.landingpage__nav-login {
  margin-left: auto;
}

.landingpage__display {
  position: relative;
  display: flex;
  background-color: #007FF5;
  height: 450px;
  padding: 20px;
  justify-content: center;
}

.landingpage__display-left {
  margin: 0 50px;
}

.landingpage__jumbo-text {
  font-weight: bold;
  letter-spacing: -0.02em;
  font-size: 72px;
  width: 600px;
  color: #FFFFFF;
  line-height: 84px;
  margin-top: 50px;
}

.landingpage__sign-up {
  margin: 30px 0;
}

.landingpage__illustation {
  margin: 0 50px;
}

.landingpage__about {
  height: 500px;
  background-color: #FFFFFF;
  /* display: flex; */
}

.landingpage__about-item {
  display: block;
  padding: 20px;
}

.landingpage__about-item-light {
  display: block;
  padding: 20px;
  background-color: #007FF5;
}
