.nav__container {
  background: #FFFFFF;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  max-width: 1350px;
  padding: 32px 90px 0;
  right: 0;
  top: 0;
}

.nav__search-form {
  display: flex;
  flex-grow: 1;
  width: 1000px;
  height: 50px;
  margin: 0 60px;
  user-select: none;
  align-items: center;
}

.nav__search-icon {
  position: absolute;
  margin-left: 28px;
  margin-right: 20px;
  outline: none;
}

.nav__search-icon:active {
  outline: none;
}

.nav__search-input {
  flex-grow: 1;
  height: 50px;
  font-size: 16px;
  caret-color: rgba(44, 44, 44, 0.5);
  color: #2C2C2C;

  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding-left: 67px;
  transition: box-shadow 0.3s;
}

.nav__search-input:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 15px 0px rgba(217, 217, 217, 0.5);
}

.nav__search-input:focus {
  outline: none;
  border: 1px solid #D9D9D9;
  transition: box-shadow 0.3s;
}

.nav__logo {
  display: block;
  user-select: none;
}

.nav__profile {
  user-select: none;
}

.nav__overlay {
  /* background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0.9) 70%, #FFFFFF 85%, #FFFFFF 100%); */
  /* background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 0.94) 85%, #FFFFFF 100%); */
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 65%, #FFFFFF 100%);
  position: fixed;
  display: flex;
  top: 80px;
  width: 100%;
  height: 80px;
  pointer-events: none;
}
