.nav__container {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px 90px;
  position: fixed;
  right: 0;
  top: 0;
}

.nav__search-form {
  display: flex;
  flex-grow: 1;
  width: 1000px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 0 60px;
  user-select: none;
}

.nav__search-form:hover {
  border: 1px solid #D9D9D9;
}

.nav__search-form:focus {
  border: 1px solid rgba(44, 44, 44, 0.5);
  border-radius: 10px;
}

.nav__search-icon {
  padding-left: 28px;
  padding-right: 20px;
}

.nav__search-input {
  flex-grow: 1;
  height: 48px;
  border: none;
  background: none;
  font-size: 16px;
}

.nav__search-input:focus {
  outline: none;
}

.nav__logo {
  display: block;
  user-select: none;
}

.nav__profile {
  user-select: none;
}
