.signin__button {
  background: #248bf6;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
.signin__button:visited {
  color: #ffffff;
}

.signin__subheader {
  color: #72b8ff;
  margin: 20px 0 40px;
}

.signin__container {
  margin: 100px auto 0;
  text-align: center;
}
