// http://eslint.org/docs/user-guide/configuring
{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      // ES6 features supported by Babel that we support in client code
      "arrowFunctions": true,
      "forOf": true,
      "defaultParams": true,
      "destructuring": true,
      "objectLiteralShorthandProperties": true,
      "restParams": true,
      "spread": true
    }
  },
  "plugins": ["mocha", "react", "babel"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "eslint-config-prettier"]
}
