.home__container {
  display: grid;
  grid-template-columns: auto 160px 830px auto;
  margin-top: 120px;
}

.home__tabs {
  grid-column-start: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__tabpos {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.home__tabcontent {
  grid-column-start: 3;
  margin-left: 70px;
}

.home__tabheader {
  display: block;
  margin-top: 8px;
  width: fit-content;
  position: relative;
}

.home__eol {
  height: 200px;
}
