.home__container {
  display: grid;
  grid-template-columns: auto 195px 795px auto;
  margin-top: 150px;
}

.home__tabs {
  grid-column-start: 2;
  position: relative;
}

.home__tabpos {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.home__tabcontent {
  grid-column-start: 3;
}

.home__tabheader {
  display: block;
  margin-top: 8px;
  width: fit-content;
  position: relative;
}

.home__eol {
  height: 100px;
}
