
.composer__container {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: inline-block;
}
.composer__container.composer__container--active {
  border-color: gray;
}

.composer__textarea {
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  max-width: 978px;
  min-height: 120px;
  outline: none;
  padding: 5px 10px;
}

.composer__buttons {
  padding: 5px 10px;
}
