.jobtile__container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 15px 0;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.jobtile--big.jobtile__container {
  padding: 0;
  opacity: 1;
}

.jobtile__container:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.jobtile__leftcontent {
}

.jobtile__companyname {
  color: #2C2C2C;
  font-size: 48px;
  letter-spacing: -0.02em;
}
.jobtile--big .jobtile__companyname {
  font-size: 50px;
  letter-spacing: -0.02em;
}

.jobtile__jobtitle {
  color: rgba(44, 44, 44, 0.5);
  font-size: 22px;
  letter-spacing: -0.02em;
  font-weight: normal;
}
.jobtile--big .jobtile__jobtitle {
  font-size: 24px;
}

.jobtile__interactions {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 900;
  color: #D2D2D2;
  margin-left: 5px;
  margin-top: 10px;
}
.jobtile--big .jobtile__interactions {
  font-size: 16px;
}

.jobtile__interactions-text {
  display: inline-block;
}

.jobtile__interactions-img {
  display: inline-block;
  margin-right: 3px;
}

.jobtile__discussion {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.jobtile__squares {
  display: flex;
  align-items: center;
}

.jobtile__rightcontent {
  margin-top: 15px;
  text-align: right;
}

.jobtile__status {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.jobtile__status--1 {
  color: #00B401;
}
.jobtile__status--2 {
  color: #FF9533;
}
.jobtile__status--3 {
  color: #E10000;
}
.jobtile--big .jobtile__status {
  font-size: 20px;
  margin-bottom: 10px;
}

.jobtile__pay {
  color: rgba(44, 44, 44, 0.5);
  letter-spacing: -0.02em;
  font-size: 18px;
  font-weight: bold;
}
.jobtile--big .jobtile__pay {
  font-size: 20px;
}
