.auth__switchbutton {
  background: #248bf6;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 30px;
}
.auth__switchbutton:visited {
  color: #ffffff;
}

.auth__container {
  margin: 100px auto 0;
  text-align: center;
  width: 600px;
}

.auth__logo {
  margin: 0 auto 10px auto;
}

.auth__emailrow {
  background-color: #e9ecef;
  margin-top: 10px;
}

.auth__emailrow > input {
  border: none;
  border-right: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}

.auth__emailsuffix {
  align-self: center;
  color: #495057;
  padding: 5px;
}

.auth__messagearea {
  height: 40px;
  margin: 0 auto;
  width: 400px;
}

.auth__error {
  background: #f8d7da;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 10px 0;
}

.auth__spacer {
  height: 150px;
}
